@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport{width: device-width; scale: 1;}

html{
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	line-height: 1.1;
	font-size: 100%;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body{
	margin: 0;
}
header{
	text-align: center;
	padding-top: 1em;
}
header img{
width: 25px;
}
.button{
		background-color: darkorange;
			border-radius: 0.25em;
			padding: .25em;
			color: white;
			position: relative;
			top: .5em;
			right:1em;
			width: auto;
}
	header h1{
		font-size:1.5em;
		display: inline-block;
		height: 1em;
	}
h2{
	font-size:1em;
	text-align: center;
}
header nav a{
	display: block;
	padding: .5em;
	text-align: left;
}
header nav li{
	display: inline;
	width: 25%;
	float: left;
	padding: .5em;
}
header nav ol{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
header nav{
	background-color: darkorange;
	margin-top: 1em;
}
header a{
	text-decoration: none;
	color: white;
}
.top p{
	position: relative;
	top: -8rem;
	color: white;
	text-align: center;
	margin-bottom: -5em;
	width: 100%;
	text-shadow: 4px 4px 10px black;
	max-width: 25rem;
	margin: 0 auto;
}
.top img{
	width: 111.6%;
	margin: 0 -6%;
}
.info div{
	width:100%auto;
	display:inline-block;
	vertical-align: top;
}
.info{
	padding: 0;
}
.info dt{
	font-weight: bold;
}
.info dl, .info dd{
	margin: 0;
}
main{
	padding:0 5% 5% 5%;
}
main img{
	width: 100%;
}

.learn{
	width: 100%;
	background-color: grey;
	text-align: center;
	padding: .5em;
	margin-bottom: 2em;
}
.learn a{
	text-decoration: none;
	color: white;
}
.money{
  text-align: center;
}
.dollars{
  width: 100%;
  text-align: center;
}
.dollars div{
  background-color: darkorange;
	padding: 1em 1em;
	margin: 0 2.5%;
	width: 44%;
	display: inline-block;
	border-radius: 0.25em;
  color:white;
}

.play{
  width: 111.6%;
  padding: .5em;
	text-align: center;
  margin-bottom: -0.65em;
	margin-left: -6%;
	margin-top:2em;
  color: white;
  background-color: grey;
}
.show{
	background-color: darkorange;
	display: inline;
	padding: .4em;
	border-radius: 0.5em;
  color: white;
	text-shadow: none;
  position: relative;
}
.now {
	background-image: url(../images/Atlantisz.jpg);
		margin: 0 -4%;
		padding: 1em;
		background-size: cover;
		color: white;
		text-align: center;
		width: 108%;
		text-shadow: 1px 2px 1px black;
}
.now figcaption{
  	top: -11rem;
  	color: white;
  	text-align: center;
  	text-shadow: 1px 2px 1px black;
    margin-bottom: -7em;
    position: relative;
    width: 100%;
}
.weeks ol{
  width: 55%;
padding:0;
margin:0;
}
main li{
  display:inline;
  text-align:left;
}
h3 {
    font-size: 1.2em;
}
footer p{
	margin:0;
}
footer ul{
	padding: 0;
}
footer li{
	display: inherit;
}
footer a{
	color: darkorange;
}
footer ol{
	display: inline;
	padding: 0;
}
@media only screen and (min-width: 20em){
header nav a{
		display: inline;
		width: 25%;
		float: left;
		padding: .5em;
		text-align: center;
}
.button{
	display: inline;
	color: white;
	position: absolute;
	top: 1.35em;
	right: 1em;
	left: 79%;
	width: auto;
	padding: 0.25em .75em;
	left: auto;
}
}
