html{
	box-sizing: border-box;
font-family: 'Noto Sans', sans-serif;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body{
	margin: 0;
}
header{
	position: relative;
	text-align: center;
	padding-top: 1em;
